
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Timothy Hinea: Personal Website</title>
        
    <link href="css/styles.css" rel="stylesheet" type"text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
   