<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jupiter - PongV2</title>

        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
        crossorigin="anonymous">
		<link href="css/styles.css" rel="stylesheet" type="text/css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/jupiter/tag/tag_model.js"></script>
        <script src="js/jupiter/tag/tag_view.js"></script>
        <script src="js/jupiter/tag/tag_controller.js"></script>
	</head>
    <body>
        <header>
            <h1> Pong </h1>
        </header>
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/venus">Venus</a>
            <a href="/mercury">Mercury</a>
            <a href="/earth">Earth</a>
            <a href="/mars">Mars</a>
            <a href="/jupiter">Jupiter</a>
        </nav>
        <br /><br />
        <nav>
            <a href="/jupiter">Matching</a>
            <a href="/jupiter_pong">Pong</a>
            <a href="/jupiter_clicker">Clicker</a>
        </nav>
        <br/>
   
     <main>
             <h3>Welcome to Pong!</h3>
             
             <canvas id="myCanvas" width="480" height="320"></canvas>
             <br>
             <br>
              
            <img src="/img/planets/mercury.jpg" alt ="mercury" width="300px" />
    </main>

    <%- include('../partials/footer.ejs') %>