      <%- include('partials/header.ejs') %>
      		<meta charset="utf-8">
		<title>Tag</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/index.js" type="text/javascript"></script>
      	<!--<script src="/socket.io/socket.io.js"></script>-->
		<!--<script src="../js/index.js" type="text/javascript"></script>-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css" />
		<link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="css/index.css" rel="stylesheet" type="text/css" />
	</head>
        
         <body>
        <header>
            <h1> Timothy Hinea </h1>
        </header>
        <hr />
        <nav>
            <a href="/">Home</a>
            <a href="/venus">Venus</a>
            <a href="/mercury">Mercury</a>
            <a href="/earth">Earth</a>
            <a href="/mars">Mars</a>
            <a href="/jupiter">Jupiter</a>
        </nav>
        <br /><br />
        
        <main>
            <figure>
                <img src="/img/index/timothy_hinea.jpeg" alt="Picture of Timothy Hinea" />
            </figure>
            <div>
                Hello my name is Timothy Hinea <br />
                <p>
                    Thank you for visiting my professional portfolio website.
                </p>
                <p>
                   I am currently a senior in a computer science batchelors program at 
                   <a href="https://csumb.edu">California State University Monterey Bay</a>
                   <br>
                   I also just finished up my California General Electricians Licence and
                   I am working full time as a foreman electrician.
                </p>
                <p>
                    Feel free to contact me!
                    <a href ="mailto: timothyhinea@gmail.com">Send Email</a>
                </p>
                <div id="resume">
                    <button id="resumeBTN">Resume</button>
                    <span id="resumeJPG" ><img src="\img\index\resume.jpg"> </span>
                </div>
                <br /> <br />
                <em>
                    "With ordinaty talent and extraordinary <strong>perserverance</strong>, all things are attainable"
                </em><br />
                - Thomas F. Buxton
            </div>
        </main>
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
       <%- include('partials/footer.ejs') %>