body {

    background-image: url("../img/planets/space.svg");
    color:#BFD9A1;
    text-align:center;
}
h1{
    background-color:#2B48B3;
}

nav a { /* links within "nav" container */
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none; /*removes Underline */
    color: white;          /* by default, links are blue */
}

nav a:hover { 
    border-bottom:2px orange solid;
    transition: .9s;
}

progress{
    background-color: blue;
}

progress:after {
    content: attr(value);
  }

canvas { background: #eee; display: block; margin: 0 auto; }